.todo {
    display: flex;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--fg);

    > :where(:first-child, :last-child) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20%;
        padding: 0;
        margin: 0;
    }

    > :not(:first-child, :last-child) {
        display: flex;
        justify-content: start;
        align-items: stretch;
        flex-grow: 1;
        word-break: break-all;
        word-wrap: break-word;
        padding: 0;
        margin: 0;
    }

    > :last-child > * {
        border: none;
        background-color: var(--fg);
        height: 2rem;
        line-height: 0.1rem;
        width: 2rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .container-checkbox {
        align-items: stretch;
    }

    .container-button {
        align-items: center;
    }

    .checkbox {
        flex-basis: 25%;
    }
}
